.searchbar-container input {
    background-color: #292929;
    color: #8A8A8A;
    border-radius: 8px;
    width: 355px;
    height: 39px;
    border-color: #3e3e3e;
    border-top: #3e3e3e solid;
    border-left: #3e3e3e solid;
}

.searchresults-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    color: black;
}
.searchbar-container img{
    height: 227px;
    width: 318px;
}
.form-container
{
    position: absolute;
}